    
body {
	font-family: 'Raleway', sans-serif;
}

main {
    display: flex;
    justify-content: center;
}

video {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-container {
    position: absolute;
    color: #f1f1f1;
    bottom: 25%;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero-container:hover {
	transform: scale(1.1);
}

.btn-hero {
    width: 140px;

}	
