    
body {
	font-family: 'Raleway', sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

video {
    position: relative;
    width: 100%;
    height: 100%;
}

.herotext {
    position: absolute;
    color: #f1f1f1;
    bottom: 25%;
    transition: all 1s;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.herotext:hover {
	transform: scale(1.1);
}

	
	
